.hard-skills-container {
  padding-top: 6em;
  margin: 0 auto;
  width: 80%;
}

.hard-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* responsive */
@media only screen and (min-width: 768px) {
  .hard-skills-container {
    padding-top: 20%;
    margin: 0 auto;
    width: 90%;
  }

  .hard-skills {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .hard-skills-container {
    padding-top: 12%;
    margin: 0 auto;
    width: 90%;
  }
}
